<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CertFilePassword" value="password"/>
    <add key="ServerCertFile" value="/path/to/cert.pfx"/>
  </appSettings>
  <connectionStrings>
    <add name="CnnSGO" connectionString="Data Source=VIR-SQL-001;Initial Catalog=SGO;Uid=sa; pwd=EDFM4n.2017" providerName="System.Data.SqlClient"/>
    <!--<add name="CnnSGO" connectionString="Data Source=192.168.51.6;Initial Catalog=SGO;Uid=sa; pwd=V0lcaf3.13 " providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
